# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
*.pot
#media
static/admin
static/rest_framework

# Ambiente virtual
venv/
env/
ENV/

# Configurações de banco de dados e arquivos sensíveis
.env
*.env
.env.local
.env.development
.env.production
settings_local.py
local_settings.py
**/settings/local.py
**/settings/production.py
secrets.json
credentials.json