# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
*.pot
db.sqlite3
db.sqlite3-journal
media
static/admin
static/rest_framework

# Ambiente virtual
venv/
env/
ENV/

# Configurações IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de migração de banco de dados (opcional)
# */migrations/*.py
# !*/migrations/__init__.py

# Arquivos de ambiente
.env
.env.local