{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Sistema de Gestão de Laboratório
{% endblock %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicadores -->
    <div class="carousel-indicators">
      {% for image in carousel_images %}
        <button type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="{{ forloop.counter0 }}"
                class="{% if forloop.first %}active{% endif %}"
                {% if forloop.first %}aria-current="true"{% endif %}
                aria-label="Slide {{ forloop.counter }}">
        </button>
      {% endfor %}
    </div>
  
    <!-- Itens do Carrossel -->
    <div class="carousel-inner">
      {% for image in carousel_images %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}" style="max-height:300px; overflow:hidden;">
          
          {% if image.link %}
            {# Verifica se o link é externo (começa com "http") para definir o target #}
            <a href="{{ image.link }}" target="{% if image.link|slice:":4" == "http" %}_blank{% else %}_self{% endif %}">
          {% endif %}
          
          <img class="d-block w-100"
               style="object-fit: cover; object-position: center;"
               src="{{ image.image.url }}"
               alt="{{ image.caption }}">
          
          {% if image.link %}
            </a>
          {% endif %}
  
          {# Legenda e descrição (apenas se houver) #}
          {% if image.caption or image.description %}
            <div class="carousel-caption d-none d-md-block">
              {% if image.caption %}
                <h5>{{ image.caption }}</h5>
              {% endif %}
              {% if image.description %}
                <p>{{ image.description }}</p>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  
    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>
  
{% endblock %}

{% block scripts %}
<!-- Se não precisar de scripts adicionais, deixe vazio -->
{% endblock %}
