
.nav-link, .drop-down.li{
    list-style: none;
    cursor: pointer;
}

.drop-down{

    position: absolute;
    background-color: #343a40;
    display: none;
}



.project:hover .drop-down{

    display: block;
}


 /* comentário */
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

.toast {
    opacity: 0; /* Começa invisível */
    transition: opacity 0.5s ease-in-out; /* Efeito de fade-in/out */
}

.toast.show {
    opacity: 1; /* Quando ativado, fica visível */
}
