
.nav-link, .drop-down.li{
    list-style: none;
    cursor: pointer;
}

.drop-down{

    position: absolute;
    background-color: #343a40;
    display: none;
}



.project:hover .drop-down{

    display: block;
}


 /* comentário */
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}